fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-jose[cryptography]
python-multipart
sqlalchemy
psycopg2-binary
alembic
python-dotenv
scikit-learn
numpy
passlib==1.7.4
bcrypt==4.0.
email-validator